.banana{
    font-family: 'Rubik', sans-serif;
    color:#09ff00;
    background: url(./banana.png), url(./bk-foot.png);
    background-size: 210px,  auto ;
    background-repeat: no-repeat, repeat-X;
    background-position: center bottom;

    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
    text-align: center;
    height: 257px;
 display: flex;
  text-decoration: none;
    padding: 21px 121px;
}
.banana a{text-decoration: none; color: rgb(255, 255, 255); cursor:help;}
.copy p {color: #ffffff;}

.imgBanana{
bottom: 0
;}


@media screen and (max-width: 671px) {
  .banana{flex-direction:column;
    justify-content: flex-end;
    align-items: flex-end;

    background: url(./banana.png), url(./bk-foot.png);
    background-size: 210px,  auto ;
    background-repeat: no-repeat, repeat-X;
    background-position: center bottom;
    
  }
  .social {display: none;}

}
@media screen and (max-width: 400px) {
  .banana{flex-direction:column;
    
    background: url(./banana.png), url(./bk-foot.png);
    background-size: 210px,  auto ;
    background-repeat: no-repeat, repeat-X;
    background-position: center bottom;
  
  
  }

  .copy { 
    
    bottom: 78px;
  
    right: -5px;
 }

}
