* {
  padding: 0;
  margin: 0;
  cursor: none;
}


.A {
  background-color: yellow;
}

.title {
  font-size: 10rem;
  color: blue
}

.cursor {
  background-color: #000000d0;
  height: 17px;
  width: 17px;
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  border: 1px solid #FFF;
}

body {

  font-family: 'Sarpanch', sans-serif;
  letter-spacing: 1px;

  background: #000000;
}


.nav {
  position: absolute;
  overflow: hidden;
  z-index: 9999;
}

.corona {
  position: absolute;
  background: url(./img/corona.png) no-repeat;
  background-position: 35px 63px;
  right: 0;
  bottom: 0;
  height: 110px;
  width: 222px;
  overflow: hidden;
  background-color: aquamarine;
  z-index: 0;

}

.scenario {
  background: url(./img/bk-pink.jpg) no-repeat center;
  background-size: cover;
  overflow: hidden;
  z-index: 999;

}

.anima {
  background: transparent;
  overflow: hidden;
  padding: 0;
  margin: -35px;
}

.tresLogosWrap {
  overflow: hidden;
  padding: 3px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.tresLogosBar {
  overflow: hidden;
  padding: 3px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.tresLogos {
  color: #FFF;
  display: absolute;
  width: 333px;
  background: transparent;
}

.barraNegra {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  height: auto;
  background: #000;
}

.textoP {
  max-width: 37%;
  padding-top: 21px;
}

.box {
  width: auto;
  height: 212;
  padding: 0 21px;
}

.box p {
  color: #FFF;
  font-size: 11px;
  padding-top: 21px;
}

.letrero {
  color: #00771e;
  font-size: 17px;
  font-family: 'Press Start 2P', cursive;
  background-color: transparent;
  overflow: "hidden";
  letter-spacing: 2px;
  animation: letrero 7s infinite;
}

@keyframes letrero {
  0% {
    opacity: 1;
  }

  50% {
    opacity: .5;
  }

  100% {
    opacity: 1;
  }
}

.astronauta {
  background: url(./img/plasma.gif), url(./img/diagonales2.png),
    url(https://i.gifer.com/YKcN.gif), url(./img/astro_22.jpg);
  background-repeat: no-repeat;
  background-position: 55% 81%, 77% 100%, center 7px, top center;
  background-size: auto, 555px, 300px, 2375px ;
  height: 1897px;
  width: 100%;
}
/* 
.astronauta {
  background: url(https://i.gifer.com/YKcN.gif), url(./img/diagonales.png),
    url(./img/astronauta.jpg);
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: center 7px, bottom right, top center;
  background-size: 300px, auto, auto;
  height: 1982px;
  width: 100%;
} */

.nextMint {
  padding-top: 177px;
  width: 100%;
  overflow: hidden;
  margin-top: 7px;
  height: 897px;
  background: url(../src/img/bk-greenLinea.png) 21% 255px no-repeat;
background-size: 80% auto;
}
.texNext{ color:#00ff00; text-align: right; width: 37%; float: right; margin-right: 17%; font-size: 11px;}



.white {
  justify-content: center;
  align-items: center;
  color: #00c030;


  font-size: 17px;

  line-height: 15px;

  letter-spacing: 1px;
  width: 328px;
  height: 125px;
  margin: 549px 0 0 413px;


}

.logoWhite {
  opacity: 0.7;

}

.logoWhite:hover {
  opacity: 1;
}


.extraTexto {
  color: #00c030;
  width: 50%;
  height: 100px;
  float: right;
  text-align: right;
  font-size: 19px;
  letter-spacing: 0px;
  line-height: 23px;
  margin-top: 77px;
  margin-left: 10px;
  border-radius: 11px;
  border-left: 2px solid green;
  border-right: 2px solid green;
}

.textoP {
  max-width: 55%;
  padding-top: 1px;
}

.scenario {
  background: url(./img/bk-pink.jpg) no-repeat bottom center;
  background-size: 100% 100%;
  overflow: hidden;
}

/* .white {
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 1px;
  width: 221px;
  height: 111px;
  margin: 343px 0 0 239px;
} */

.extraTexto {
  color: #00c230;
  width: 50%;
  height: 55px;
  float: right;
  text-align: right;
  font-size: 15px;
  letter-spacing: 0px;
  line-height: 19px;
  margin-top: 111px;
  margin-right: 131px;
  padding: 9px 17px 0 5px;
  text-shadow: 0px 0px 11px #000000, 0px 0px 7px #000000, 0px 0px 5px #000000, 0px 0px 2px #00cf56;
  background-color: #00000088;
  backdrop-filter: blur(8px)
}



.wrapMint {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 65vw;
  height: 577px;
  margin: 31px auto;
  border: solid 2px #00ff0d;
  background: url(./img/tresPuntos.png) no-repeat 31px 11px, #00160194;
  background-size: 37px;
  border-radius: 27px;
  padding: 22px;
  box-sizing: border-box;

  -webkit-box-shadow: 0px 0px 19px 9px rgba(0, 255, 17, 0.092);
  -moz-box-shadow: 0px 0px 19px 9px rgba(0, 255, 17, 0.092);
  box-shadow: 0px 0px 19px 9px rgba(0, 255, 17, 0.092);

}


.wrapInside {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 61vw;
  height: 521px;
  margin: 7px auto 0 auto;
  border: solid 1px #00ff00;
  background: url(./img/tv.gif), url(./img/tv_noise.gif);
  background-repeat: repeat;

  border-radius: 17px;
  padding: 0px;
  box-sizing: border-box;
  box-shadow: 0px 0px 9px 3px rgba(0, 255, 17, 0.092),
    inset 0px 0px 39px 39px rgba(0, 0, 0, 0.92);
}

.gif {
  width: 385px;
  height: 437px;
  padding: 0;

}

.wrapGif {

  height: 100%;
  width: 100%;
}

.costOne {
  color: #ff6600;
  font-size: 23px;
}


.titulo {
  font-family: 'Press Start 2P', cursive;
  color: #ff6600;
  -webkit-text-stroke: .1px rgba(0, 0, 0, 0.9);
  text-shadow: -3px 1px rgba(146, 29, 0, 0.897);
}


.tituloSupply {
  color: #ffffff;
  font-size: 11px;
  line-height: 33px;

}

.supply {
  width: 63%;
  height: 57px;
  padding: 5px 1px;
  text-align: center;
  line-height: 65px;
  letter-spacing: 0px;
  font-size: 27px;
  font-family: 'Press Start 2P', cursive;
  background-color: rgba(0, 153, 94, 0.1);
  border: 1px solid #003610;
  border-radius: 7px;
  backdrop-filter: blur(1px);
  text-shadow: -3px 4px rgba(255, 255, 255, 0.1);
}

.mintComponent {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.cuadroMint {
  color: #FFF;
  width: 400px;
  height: 100%;
  border-left: 1px solid #00c030a8;
  padding: 0px 70px;
}



.botonMint:hover {
  background: #00330d6b;
  color: #FFF
}

.botonMint {
  color: #000000;
  background: #009b276b;
  border-left: 2px solid;
  width: 311px;
  height: 33px;
  border: 1px solid #00ff0d;
  box-shadow: -3px 3px 0px 1px #001d09;
  font-family: 'Sarpanch', sans-serif;
  font-weight: 800;
  font-size: 15px;
}

.cantidad {
  display: flex;
  font-family: 'Press Start 2P', cursive;
  width: 255px;
  height: 35px;
}

.pushable {
  width: 55px;
  font-size: 27px;
  text-align: center;
  height: 26px;
  margin: 1px 7px;
  font-family: 'Press Start 2P', cursive;
  background: #ff9800;
}

.pushable:hover {
  background: #ff3300;
}

.numero {
  color: rgb(255, 255, 255);
  font-size: 29px;
}

.letraPequena {
  padding-top: 15px;
}

.cuadroMint h2 {
  color: #ff6600;
}




/* @media screen and (max-width: 1299px) {
  .nextMint {height: 727px;}
} */

@media screen and (max-width: 1299px) {
  .astronauta {
    background: url(./img/plasma.gif), url(./img/diagonales2.png),
      url(https://i.gifer.com/YKcN.gif), url(./img/astro_22.jpg);
    background-repeat: no-repeat;
    background-position: 55% 95%, 87% 100%, center 7px, top center;
    background-size: 377px, 555px, 300px, 1977px, auto;
    height: 1567px;
    width: 100%;
  }
  .nextMint {
    padding-top: 177px;
    width: 100%;
    overflow: hidden;
    margin-top: 7px;
    height: 507px;
    background: url(../src/img/bk-greenLinea.png) 21% 255px no-repeat;
  background-size: 80% auto;
  }
.texNext{ color:#00ff00; text-align: right; width: 50%; float: right; margin-right: 17%; font-size: 11px;}


  .textoP {
    max-width: 55%;
    padding-top: 1px;
  }

  .scenario {
    background: url(./img/bk-pink.jpg) no-repeat bottom center;
    background-size: 100% 100%;
    overflow: hidden;
  }

  .white {
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 1px;
    width: 221px;
    height: 111px;
    margin: 343px 0 0 239px;
  }

  .extraTexto {
    color: #00c230;
    width: 50%;
    height: 55px;
    float: right;
    text-align: right;
    font-size: 15px;
    letter-spacing: 0px;
    line-height: 19px;
    margin-top: 111px;
    margin-right: 131px;
    padding: 9px 17px 0 5px;
    text-shadow: 0px 0px 11px #000000, 0px 0px 7px #000000, 0px 0px 5px #000000, 0px 0px 2px #00cf56;
    background-color: #00000088;
    backdrop-filter: blur(8px)
  }



  .wrapMint {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 79vw;
    height: 531px;
    margin: 31px auto;
    border: solid 2px #00ff0d;
    background: url(./img/tresPuntos.png) no-repeat 31px 11px, #00160194;
    background-size: 37px;
    border-radius: 27px;
    padding: 22px;
    box-sizing: border-box;

    -webkit-box-shadow: 0px 0px 19px 9px rgba(0, 255, 17, 0.092);
    -moz-box-shadow: 0px 0px 19px 9px rgba(0, 255, 17, 0.092);
    box-shadow: 0px 0px 19px 9px rgba(0, 255, 17, 0.092);

  }


  .wrapInside {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75vw;
    height: 477px;
    margin: 7px auto 0 auto;
    border: solid 1px #00ff00;
    background: url(./img/tv.gif), url(./img/tv_noise.gif);
    background-repeat: repeat;

    border-radius: 17px;
    padding: 0px;
    box-sizing: border-box;
    box-shadow: 0px 0px 9px 3px rgba(0, 255, 17, 0.092),
      inset 0px 0px 39px 39px rgba(0, 0, 0, 0.92);
  }

  .gif {
    width: 385px;
    height: 100%;
    padding: 0;

  }

  .wrapGif {
 
    height: 100%;
    width: 100%;
  }

  .costOne {
    color: #ff6600;
    font-size: 23px;
  }


  .titulo {
    font-family: 'Press Start 2P', cursive;
    color: #ff6600;
    -webkit-text-stroke: .1px rgba(0, 0, 0, 0.9);
    text-shadow: -3px 1px rgba(146, 29, 0, 0.897);
  }


  .tituloSupply {
    color: #ffffff;
    font-size: 11px;
    line-height: 33px;

  }

  .supply {
    width: 63%;
    height: 57px;
    padding: 5px 1px;
    text-align: center;
    line-height: 65px;
    letter-spacing: 0px;
    font-size: 27px;
    font-family: 'Press Start 2P', cursive;
    background-color: rgba(0, 153, 94, 0.1);
    border: 1px solid #003610;
    border-radius: 7px;
    backdrop-filter: blur(1px);
    text-shadow: -3px 4px rgba(255, 255, 255, 0.1);
  }

  .mintComponent {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .cuadroMint {
    color: #FFF;
    width: 400px;
    height: 100%;
    border-left: 1px solid #00c030a8;
    padding: 0px 70px;
  }



  .botonMint:hover {
    background: #00330d6b;
    color: #FFF
  }

  .botonMint {
    color: #000000;
    background: #009b276b;
    border-left: 2px solid;
    width: 311px;
    height: 33px;
    border: 1px solid #00ff0d;
    box-shadow: -3px 3px 0px 1px #001d09;
    font-family: 'Sarpanch', sans-serif;
    font-weight: 800;
    font-size: 15px;
  }

  .cantidad {
    display: flex;
    font-family: 'Press Start 2P', cursive;
    width: 255px;
    height: 35px;
  }

  .pushable {
    width: 55px;
    font-size: 27px;
    text-align: center;
    height: 26px;
    margin: 1px 7px;
    font-family: 'Press Start 2P', cursive;
    background: #ff9800;
  }

  .pushable:hover {
    background: #ff3300;
  }

  .numero {
    color: rgb(255, 255, 255);
    font-size: 29px;
  }

  .letraPequena {
    padding-top: 15px;
  }

  .cuadroMint h2 {
    color: #ff6600;
  }

}


@media screen and (max-width: 1399px) {
  .wrapMint{
  display: flex;
    justify-content: space-around;
    align-items: center;
    width: 47%;
    height: auto;
    margin: 47px auto;
   flex-wrap: wrap-reverse;
    padding: 22px;
    box-sizing: border-box;
    box-shadow: 0px 0px 19px 9px rgb(0 255 17 / 9%);
}
.wrapInside {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: auto;
  height: auto;
  margin: 7px auto 0 auto;
  flex-wrap: wrap-reverse;
  border-radius: 17px;
  padding: 0px;
  box-sizing: border-box;
  box-shadow: 0px 0px 9px 3px rgb(0 255 17 / 9%), inset 0px 0px 39px 39px rgb(0 0 0 / 92%);
}

.cuadroMint{border-left: none}
.mintComponent { padding: 55px 11px;}
.gif{height: 477px;}


}



@media screen and (max-width: 1099px) {

.codeBar{display: none;}
.ps5{display: none;}
}
@media screen and (max-width: 599px) {
  .cuadroMint {
    color: #FFF;
    width: 285px;
    height: 100%;
    border-left: none;
    padding: 0px 8px;}
    .botonMint {width: 229px;}
.codeBar{display: none;}
.ps5{display: none;}

.logo{transform: rotate(282deg); top: 219px!important}
.nextMint {
  padding-top: 177px;
  width: 100%;
  overflow: hidden;
  margin-top: 7px;
  height: 747px;
  background: url(../src/img/bikeMOBILE22.png) 21% 255px no-repeat;
background-size: 80% auto;
}
.astronauta {
background-size: 377px, 1px, 300px, 1977px;
 }

.letrero{font-size: 7px !important}
.textoP{max-width: 95%; padding-bottom: 11px;}

}